<div class="container">
    <div class="hero-unit">
        <h1>'Allo, 'Allo!!!!!</h1>
        <p>You now have</p>
        <ul>
            <li>Twitter Bootstrap</li>
            <li>HTML5 Boilerplate</li>
            <li>jQuery</li>
            <li>Backbone.js</li>
            <li>Underscore.js</li>
        </ul>
        <p>installed.</p>

        <h3>Below is some content from our Boilerplate</h3>
        <a href="http://google.com" data-confirm="true">Leave site test</a><br/>
        <a href="./test" data-internal="true">Internal Route Test</a><br/>
        <a href="http://google.com" target="_blank">Normal Link to a webpage</a>
        <p class="templated">{{testVar}}</p>
    </div>

</div>

