@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Documents\/Work\/MY\/personal-backbone-boilerplates\/app\/styles\/main\.scss}line{font-family:\000032}}
#appContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
